{% extends 'base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}
<div class="container d-flex gap-3">
{% for product in products %}

<div class="card" style="width: 18rem;">
  <img src="{{ product.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product.name }}</h5>
    <p class="card-text">Rs. {{ product.price }}</p>
    <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Show More</a>
  </div>
</div>


{% endfor %}
</div>



{% endblock %}